In [1]:
import pandas as pd 
import math, random
all_data  = pd.read_csv("sensor_data_600.txt", delimiter=" ", header=None, names = ("date","time","ir","z"))#lidarのセンサ値は「z」に
data = all_data.sample(3000).sort_values(by="z").reset_index()  #1000個だけサンプリングしてインデックスを振り直す
data = pd.DataFrame(data["z"])

In [2]:
##負担率の初期化## 

K = 3 #クラスタ数
n = int(math.ceil(len(data)/K)) #クラスタあたりのセンサ値の数
for k in range(K):
    data[k] = [1.0 if k == int(i/n) else 0.0 for i,d in data.iterrows()] #データをK個に分けて、一つのr_{i,k}を1に。他を0に。

In [3]:
def update_parameters(ds, k, mu_avg=600, zeta=1, alpha=1, beta=1, tau=1): 
    R = sum([d[k] for _, d in ds.iterrows()])
    S = sum([d[k]*d["z"] for _, d in ds.iterrows()])
    T = sum([d[k]*(d["z"]**2) for _, d in ds.iterrows()])
    
    hat = {}

    hat["tau"] = R + tau
    hat["zeta"] = R + zeta
    hat["mu_avg"] = (S + zeta*mu_avg)/hat["zeta"]
    hat["alpha"] = R/2 + alpha
    hat["beta"] = (T + zeta*(mu_avg**2) - hat["zeta"]*(hat["mu_avg"]**2))/2 + beta
    
    hat["z_std"] = math.sqrt(hat["beta"]/hat["alpha"])
    
    return pd.DataFrame(hat, index=[k])

In [4]:
from scipy.stats import norm, dirichlet
import matplotlib.pyplot as plt
import numpy as np

def draw(ps):
    pi = dirichlet([ps["tau"][k] for k in range(K)]).rvs()[0]
    pdfs = [ norm(loc=ps["mu_avg"][k], scale=ps["z_std"][k]) for k in range(K) ]

    xs = np.arange(600,650,0.5)

    ##p(z)の描画##
    ys = [ sum([pdfs[k].pdf(x)*pi[k] for k in range(K)])*len(data) for x in xs] #pdfを足してデータ数をかける
    plt.plot(xs, ys, color="red")

    ##各ガウス分布の描画##
    for k in range(K):
        ys = [pdfs[k].pdf(x)*pi[k]*len(data) for x in xs]
        plt.plot(xs, ys, color="blue")

    ##元のデータのヒストグラムの描画##
    data["z"].hist(bins = max(data["z"]) - min(data["z"]), align='left', alpha=0.4, color="gray")
    plt.show()

In [5]:
from scipy.special import digamma 

def responsibility(z, K, ps):
    tau_sum = sum([ps["tau"][k] for k in range(K)])
    r = {}
    for k in range(K):
        log_rho = (digamma(ps["alpha"][k]) - math.log(ps["beta"][k]))/2 \
                            - (1/ps["zeta"][k] + ((ps["mu_avg"][k] - z)**2)*ps["alpha"][k]/ps["beta"][k])/2 \
                            + digamma(ps["tau"][k]) - digamma(tau_sum)
                
        r[k] = math.exp(log_rho)
       
    w = sum([ r[k] for k in range(K) ]) #正規化
    for k in range(K): r[k] /= w
    
    return r

In [6]:
def one_step(ds): ###variationalinference2onestep
    ##パラメータの更新##
    params = pd.concat([update_parameters(ds, k) for k in range(K)]) 

    ##負担率の更新##
    rs = [responsibility(d["z"], K, params) for _, d in ds.iterrows() ]
    for k in range(K):
        ds[k] = [rs[i][k] for i,_ in data.iterrows()]
        
    return ds, params

In [7]:
params_history = {} ###variationalinference2iter
for t in range(1, 10000):
    data, params = one_step(data)
    if t%10 ==0:              #10回ごとにパラメータを記録
        params_history[t] = params
        display(params)
        
        if len(params_history) < 2:
            continue
           
        if all([ abs(params_history[t-10]["tau"][k] - params_history[t]["tau"][k]) < 10e-5 for k in range(K)]):
            break

          tau       zeta      mu_avg      alpha         beta      z_std
0    1.312760   1.312760  604.869825   1.156380    55.122629   6.904221
1    5.670545   5.670545  620.197578   3.335273   347.961031  10.214089
2    9.955513   9.955513  622.292816   5.477757   459.140166   9.155273
3   13.539574  13.539574  623.116492   7.269787   537.542405   8.598952
4   17.220424  17.220424  623.775173   9.110212   617.988465   8.236182
5   21.407546  21.407546  624.402453  11.203773   709.042270   7.955251
6   23.962853  23.962853  624.723274  12.481427   762.974418   7.818490
7   30.161668  30.161668  625.308665  15.580834   885.645791   7.539363
8   37.042553  37.042553  625.777323  19.021276  1012.541898   7.296031
9   44.913426  44.913426  626.188279  22.956713  1149.112915   7.075001
10  50.606089  50.606089  626.439752  25.803045  1243.353577   6.941636
11  57.666187  57.666187  626.722957  29.333093  1355.459397   6.797736
12  62.149656  62.149656  626.896459  31.574828  1423.902017   6.715364
13  65.548279  65.548279  627.028894  33.274139  1474.213981   6.656207
14  68.444979  68.444979  627.157095  34.722489  1515.776475   6.607119
15  69.112731  69.112731  627.190565  35.056365  1525.112135   6.595799
16  70.034030  70.034030  627.267946  35.517015  1537.371006   6.579170
17  69.494302  69.494302  627.274100  35.247151  1529.505843   6.587393
18  68.550743  68.550743  627.281303  34.775372  1515.789763   6.602123
19  65.289538  65.289538  627.228700  33.144769  1469.290610   6.658039
20  62.146950  62.146950  627.158854  31.573475  1424.049255   6.715855
21  53.231077  53.231077  626.906127  27.115538  1291.519533   6.901466
22  40.489915  40.489915  626.428446  20.744958  1088.576776   7.243914
23  16.048663  16.048663  624.489585   8.524331   632.602034   8.614600

          tau       zeta      mu_avg      alpha         beta      z_std
0    1.000000   1.000000  600.000000   1.000000     1.000000   1.000000
1    1.000000   1.000000  600.000000   1.000000     1.000000   1.000000
2    1.000000   1.000000  600.000000   1.000000     1.000000   1.000000
3    1.079164   1.079164  601.278707   1.039582    12.646903   3.487890
4    2.068750   2.068750  611.836105   1.534375   158.789538  10.172909
5    4.838667   4.838667  619.557417   2.919333   329.108104  10.617626
6    7.338467   7.338467  621.695089   4.169234   415.537404   9.983365
7   15.133396  15.133396  624.069902   8.066698   612.203886   8.711645
8   25.550016  25.550016  625.196917  13.275008   827.037603   7.893057
9   38.795802  38.795802  625.916301  19.897901  1071.147501   7.337042
10  49.004537  49.004537  626.281285  25.002269  1246.430317   7.060644
11  62.280361  62.280361  626.642686  31.640181  1462.355694   6.798405
12  71.056750  71.056750  626.840100  36.028375  1598.863392   6.661673
13  77.899605  77.899605  626.978874  39.449803  1702.195801   6.568744
14  83.923105  83.923105  627.093704  42.461553  1791.001141   6.494564
15  85.346554  85.346554  627.120172  43.173277  1811.693175   6.477909
16  87.453322  87.453322  627.161129  44.226661  1842.070718   6.453734
17  86.426625  86.426625  627.144877  43.713313  1827.239973   6.465334
18  84.619174  84.619174  627.115419  42.809587  1801.017097   6.486171
19  78.118987  78.118987  626.997576  39.559493  1705.426305   6.565852
20  71.888781  71.888781  626.874105  36.444390  1611.677845   6.650033
21  54.683813  54.683813  626.464348  27.841906  1340.759670   6.939465
22  31.802438  31.802438  625.599490  16.401219   945.635426   7.593182
23   1.691687   1.691687  609.016264   1.345844   113.474782   9.182319

           tau        zeta      mu_avg      alpha         beta     z_std
0     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
7     1.329975    1.329975  604.991170   1.164987    55.771783  6.919053
8     8.059212    8.059212  621.930142   4.529606   434.632490  9.795597
9    24.479944   24.479944  624.953354  12.739972   809.403335  7.970733
10   39.361858   39.361858  625.772834  20.180929  1090.720155  7.351671
11   60.138764   60.138764  626.418305  30.569382  1448.571038  6.883773
12   74.518435   74.518435  626.733764  37.759218  1680.143835  6.670551
13   86.040077   86.040077  626.945834  43.520039  1857.919138  6.533844
14   96.402447   96.402447  627.115636  48.701224  2012.413475  6.428190
15   98.882071   98.882071  627.153957  49.941036  2048.655330  6.404802
16  102.584509  102.584509  627.210007  51.792255  2102.248334  6.371029
17  100.794023  100.794023  627.183535  50.897012  2076.395016  6.387175
18   97.653003   97.653003  627.136061  49.326501  2030.702024  6.416275
19   86.468924   86.468924  626.954651  43.734462  1864.404468  6.529173
20   75.958332   75.958332  626.763343  38.479166  1702.736202  6.652132
21   48.120003   48.120003  626.085613  24.560001  1245.490138  7.121245
22   15.208422   15.208422  623.923740   8.104211   613.781646  8.702651
23    1.000000    1.000000  600.000000   1.000000     1.000000  1.000000

           tau        zeta      mu_avg      alpha         beta      z_std
0     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
1     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
2     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
3     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
4     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
5     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
6     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
7     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
8     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
9     6.618817    6.618817  620.957475   3.809409   388.156255  10.094261
10   23.525643   23.525643  624.732086  12.262821   791.647888   8.034721
11   52.289474   52.289474  626.055035  26.644737  1328.656813   7.061561
12   73.659878   73.659878  626.557686  37.329939  1688.149647   6.724761
13   91.401601   91.401601  626.874270  46.200801  1969.404652   6.528941
14  107.792200  107.792200  627.121574  54.396100  2217.148254   6.384303
15  111.774669  111.774669  627.176982  56.387335  2275.676469   6.352790
16  117.766213  117.766213  627.257577  59.383106  2362.526088   6.307494
17  114.864392  114.864392  627.219008  57.932196  2320.640151   6.329128
18  109.802692  109.802692  627.149890  55.401346  2246.770551   6.368237
19   92.077415   92.077415  626.885361  46.538707  1979.841730   6.522410
20   75.852859   75.852859  626.600634  38.426430  1723.699718   6.697547
21   35.247326   35.247326  625.444228  18.123663  1020.712089   7.504619
22    1.326821    1.326821  604.904392   1.163411    54.220364   6.826761
23    1.000000    1.000000  600.000000   1.000000     1.000000   1.000000

           tau        zeta      mu_avg      alpha         beta      z_std
0     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
1     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
2     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
3     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
4     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
5     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
6     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
7     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
8     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
9     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
10    5.589922    5.589922  620.021801   3.294961   350.722975  10.317084
11   38.826361   38.826361  625.477975  19.913180  1091.190625   7.402527
12   67.999711   67.999711  626.311052  34.499855  1608.083612   6.827248
13   93.395869   93.395869  626.771335  47.197935  2022.994761   6.546903
14  117.668369  117.668369  627.117756  59.334185  2395.312920   6.353728
15  123.682538  123.682538  627.194878  62.341269  2484.124236   6.312463
16  132.818860  132.818860  627.307092  66.909430  2616.462937   6.253363
17  128.381028  128.381028  627.253292  64.690514  2552.568560   6.281573
18  120.699534  120.699534  627.157002  60.849767  2440.241661   6.332671
19   94.382156   94.382156  626.786808  47.691078  2038.566896   6.537985
20   71.087556   71.087556  626.375134  36.043778  1660.046011   6.786485
21   17.468095   17.468095  624.002191   9.234047   662.983983   8.473356
22    1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
23    1.000000    1.000000  600.000000   1.000000     1.000000   1.000000

           tau        zeta      mu_avg      alpha         beta     z_std
0     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
11   21.136523   21.136523  624.301769  11.068262   742.060889  8.188042
12   57.866538   57.866538  625.956629  29.433269  1442.384366  7.000374
13   92.173831   92.173831  626.623883  46.586915  2023.432073  6.590409
14  126.354971  126.354971  627.094838  63.677486  2557.734576  6.337745
15  135.032594  135.032594  627.198893  68.016297  2686.862049  6.285158
16  148.381199  148.381199  627.350767  74.690600  2880.358373  6.209981
17  141.871907  141.871907  627.277830  71.435953  2786.783601  6.245874
18  130.718032  130.718032  627.147748  65.859016  2622.986420  6.310887
19   93.536991   93.536991  626.645202  47.268496  2045.542123  6.578370
20   61.950923   61.950923  626.054614  31.475461  1514.289660  6.936149
21    1.976491    1.976491  610.917247   1.488246   141.151117  9.738786
22    1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000   1.000000     1.000000  1.000000

           tau        zeta      mu_avg      alpha         beta      z_std
0     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
1     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
2     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
3     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
4     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
5     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
6     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
7     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
8     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
9     1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
10    1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
11    3.795950    3.795950  617.423736   2.397975   270.966350  10.630052
12   43.374144   43.374144  625.437659  22.187072  1182.002274   7.298929
13   87.349806   87.349806  626.438874  44.174903  1956.861753   6.655678
14  133.446205  133.446205  627.063966  67.223103  2691.347360   6.327405
15  145.498210  145.498210  627.200417  73.249105  2871.927339   6.261603
16  164.336924  164.336924  627.400768  82.668462  3144.565213   6.167517
17  155.103707  155.103707  627.304284  78.051854  3012.427227   6.212504
18  139.487389  139.487389  627.133305  70.243694  2782.457777   6.293766
19   89.147192   89.147192  626.467876  45.073596  1986.839279   6.639269
20   48.460474   48.460474  625.601347  24.730237  1276.530630   7.184582
21    1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
22    1.000000    1.000000  600.000000   1.000000     1.000000   1.000000
23    1.000000    1.000000  600.000000   1.000000     1.000000   1.000000

           tau        zeta      mu_avg      alpha         beta     z_std
0     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
12   25.488295   25.488295  624.495117  13.244147   831.699030  7.924486
13   79.141868   79.141868  626.200938  40.070934  1825.186852  6.748992
14  139.147117  139.147117  627.017398  70.073559  2801.209609  6.322600
15  155.383800  155.383800  627.191910  78.191900  3046.479577  6.241921
16  181.276374  181.276374  627.450624  91.138187  3420.499164  6.126248
17  168.503964  168.503964  627.325477  84.751982  3238.696866  6.181733
18  147.255578  147.255578  627.106001  74.127789  2924.702471  6.281311
19   81.421036   81.421036  626.240452  41.210518  1864.351683  6.726047
20   31.381969   31.381969  624.850548  16.190984   950.925122  7.663665
21    1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000   1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000   1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    7.110731    7.110731  620.880088    4.055366   395.365687  9.873804
13   68.313747   68.313747  625.873896   34.656873  1643.223852  6.885788
14  144.491890  144.491890  626.932836   72.745945  2916.126678  6.331386
15  165.897386  165.897386  627.151005   83.448693  3244.696364  6.235586
16  200.855933  200.855933  627.479085  100.927967  3752.333442  6.097404
17  183.475806  183.475806  627.319304   92.237903  3504.642222  6.164064
18  155.135631  155.135631  627.043479   78.067816  3081.114909  6.282289
19   71.124244   71.124244  625.928939   36.062122  1693.299714  6.852377
20   12.594633   12.594633  622.849068    6.797316   544.654542  8.951418
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13   53.908155   53.908155  625.438261   27.454078  1386.235698  7.105835
14  146.595630  146.595630  626.824452   73.797815  2982.058619  6.356768
15  173.697218  173.697218  627.090600   87.348609  3406.488324  6.244900
16  219.192453  219.192453  627.497832  110.096226  4073.075977  6.082401
17  196.363064  196.363064  627.297712   98.681532  3746.251116  6.161416
18  160.007543  160.007543  626.959314   80.503772  3194.478565  6.299294
19   57.219279   57.219279  625.520054   29.109639  1447.779198  7.052332
20    1.016658    1.016658  600.244669    1.008329     2.874328  1.688368
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13   36.379150   36.379150  624.820610   18.689575  1049.929046  7.495149
14  145.543984  145.543984  626.731192   73.271992  2976.980007  6.374101
15  178.897926  178.897926  627.049086   89.948963  3505.814060  6.243043
16  236.723971  236.723971  627.544284  118.861985  4353.275642  6.051828
17  207.381350  207.381350  627.298301  104.190675  3935.227828  6.145688
18  161.961894  161.961894  626.892300   81.480947  3240.622422  6.306468
19   40.111726   40.111726  624.964743   20.555863  1122.974325  7.391236
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13   17.514249   17.514249  623.453461    9.257125   656.218736  8.419499
14  143.698396  143.698396  626.601670   72.349198  2964.894663  6.401589
15  184.212225  184.212225  626.976579   92.606112  3618.947058  6.251314
16  257.007496  257.007496  627.572579  129.003748  4692.672618  6.031273
17  219.595071  219.595071  627.272490  110.297535  4159.050079  6.140648
18  163.529029  163.529029  626.791884   82.264515  3289.498504  6.323515
19   21.443534   21.443534  623.861853   11.221767   742.709977  8.135402
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta      z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
13    2.156782    2.156782  611.701301    1.578391   151.879418   9.809394
14  139.970985  139.970985  626.436145   70.485492  2931.001656   6.448492
15  188.110365  188.110365  626.873111   94.555182  3727.597901   6.278731
16  277.965148  277.965148  627.581961  139.482574  5071.970631   6.030154
17  231.131170  231.131170  627.219294  116.065585  4397.935597   6.155633
18  163.403008  163.403008  626.658471   82.201504  3324.424783   6.359433
19    4.262542    4.262542  617.884524    2.631271   284.778240  10.403288
20    1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000   1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000   1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14  131.093908  131.093908  626.300200   66.046954  2786.141384  6.494941
15  186.154527  186.154527  626.804533   93.577263  3710.395678  6.296873
16  293.417727  293.417727  627.633684  147.208864  5318.394074  6.010675
17  236.595970  236.595970  627.202274  118.797985  4503.910622  6.157300
18  157.737869  157.737869  626.558352   79.368934  3240.366898  6.389573
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14  120.377944  120.377944  626.156391   60.688972  2599.430889  6.544617
15  182.728561  182.728561  626.740018   91.864280  3657.584190  6.309920
16  310.146811  310.146811  627.707888  155.573406  5561.055375  5.978757
17  241.381802  241.381802  627.194820  121.190901  4585.691761  6.151307
18  150.364882  150.364882  626.457870   75.682441  3116.841992  6.417411
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14  108.414430  108.414430  625.980429   54.707215  2387.319314  6.605915
15  178.575120  178.575120  626.657681   89.787560  3592.497577  6.325431
16  329.655569  329.655569  627.785836  165.327785  5842.589409  5.944698
17  246.405054  246.405054  627.174626  123.702527  4674.286144  6.147073
18  141.949827  141.949827  626.334850   71.474913  2973.549406  6.450016
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14   95.188899   95.188899  625.765984   48.094449  2148.450607  6.683673
15  173.611927  173.611927  626.554833   87.305963  3513.008514  6.343335
16  352.222871  352.222871  627.863430  176.611436  6168.262095  5.909789
17  251.525751  251.525751  627.136647  126.262875  4768.380029  6.145364
18  132.450552  132.450552  626.186572   66.725276  2808.759211  6.488018
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14   80.721965   80.721965  625.503018   40.860982  1882.164541  6.786946
15  167.798495  167.798495  626.429404   84.399248  3417.439457  6.363281
16  378.029342  378.029342  627.935511  189.514671  6543.317869  5.875943
17  256.578957  256.578957  627.076183  128.789479  4865.929834  6.146710
18  121.871240  121.871240  626.010323   61.435620  2621.534641  6.532323
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14   65.054131   65.054131  625.173556   33.027065  1588.279122  6.934712
15  161.156007  161.156007  626.280557   81.078003  3305.082886  6.384688
16  407.108899  407.108899  627.995611  204.054449  6973.188248  5.845783
17  261.417333  261.417333  626.989801  131.208667  4964.552753  6.151185
18  110.263631  110.263631  625.803816   55.631815  2412.011964  6.584581
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14   48.225795   48.225795  624.735518   24.612897  1266.203020  7.172496
15  153.776655  153.776655  626.109156   77.388328  3176.778243  6.407015
16  439.316007  439.316007  628.036264  220.158004  7463.906530  5.822585
17  265.967945  265.967945  626.876531  133.483973  5062.439369  6.158364
18   97.713598   97.713598  625.565080   49.356799  2181.504660  6.648208
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14   30.314435   30.314435  624.045678   15.657218   912.607166  7.634571
15  145.805341  145.805341  625.917642   73.402671  3035.287984  6.430489
16  474.309014  474.309014  628.050110  237.654507  8022.589417  5.810109
17  270.265148  270.265148  626.738645  135.632574  5159.802288  6.167860
18   84.306061   84.306061  625.291114   42.653030  1932.168146  6.730503
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14   12.036675   12.036675  622.171236    6.518337   515.513589  8.893069
15  137.323253  137.323253  625.708993   69.161627  2884.440255  6.458002
16  511.310482  511.310482  628.032854  256.155241  8654.212947  5.812489
17  274.285490  274.285490  626.581631  137.642745  5258.864208  6.181150
18   70.044099   70.044099  624.973432   35.522050  1665.632355  6.847634
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14    1.011265    1.011265  600.161363    1.005632     2.194071  1.477086
15  127.414339  127.414339  625.496532   64.207170  2708.926702  6.495414
16  546.066773  546.066773  627.996952  273.533386  9284.488676  5.826045
17  276.084178  276.084178  626.424638  138.542089  5323.324243  6.198700
18   54.423445   54.423445  624.595710   27.711723  1372.478653  7.037543
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha         beta     z_std
0     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
14    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
15  115.492120  115.492120  625.310018   58.246060  2487.803766  6.535439
16  576.766058  576.766058  627.967452  288.883029  9817.939761  5.829740
17  274.617868  274.617868  626.300049  137.808934  5305.344435  6.204662
18   37.123954   37.123954  624.101745   19.061977  1039.380426  7.384197
19    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000     1.000000  1.000000

           tau        zeta      mu_avg       alpha          beta     z_std
0     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
1     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
2     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
3     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
4     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
5     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
6     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
7     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
8     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
9     1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
10    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
11    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
12    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
13    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
14    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
15  103.147074  103.147074  625.106877   52.073537   2259.855723  6.587670
16  608.618536  608.618536  627.919702  304.809268  10401.845972  5.841725
17  273.184532  273.184532  626.171600  137.092266   5290.937318  6.212406
18   19.049858   19.049858  623.053958   10.024929    671.574275  8.184768
19    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
20    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
21    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
22    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000
23    1.000000    1.000000  600.000000    1.000000      1.000000  1.000000

KeyboardInterrupt:

In [ ]:
draw(params) ###variationalinference2draw

In [ ]:
draw(params_history[100])

In [ ]:
draw(params_history[10])

In [ ]:
params_history